
/* TODO */
.todo {
  flex-grow: 1;
  flex-basis: 0; /* Updated value */
}

.todo .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

.todo .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

.todo .head .bx {
  cursor: pointer;
}

.todo .todo-list {
  width: 100%;
}

.todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo .todo-list li .bx {
  cursor: pointer;
}

.todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}

.todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}

.todo .todo-list li:last-child {
  margin-bottom: 0;
}
.table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

.table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

.table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

.table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

.table-data .head .bx {
  cursor: pointer;
}
