<div class="comment-section">
  <div *ngFor="let comment of comments" class="comment-container">
    <div class="comment-header">
      <img [src]="comment.userPhoto" alt="{{ comment.user }} photo" width="40" height="40" />
      <span class="user-name">{{ comment.user }}</span>
    </div>
    <div class="comment-body">
      <p>{{ comment.text }}</p>
    </div>
  </div>

  <div class="comment-input-container">
    <mat-form-field appearance="fill">
      <mat-label>Add a comment</mat-label>
      <textarea matInput [(ngModel)]="newCommentText"></textarea>
      <mat-icon matSuffix class="send-icon" (click)="addComment()">send</mat-icon>
    </mat-form-field>
  </div>
</div>