<section id="content">
  <main>
    <div *ngIf="contractId" class="head-title">
      <div class="left">
        <ul class="breadcrumb">
          <li>
            <a href="/">Overview</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a href="/contract-analysis" class="active">Contract Analysis</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content-container">
      <div *ngIf="loading" class="loading-indicator"></div>
      <p *ngIf="loading">Updating...</p>

      <div *ngIf="!loading" class="pdf-details-container">
        <h2>Contract Details</h2>
        <table class="contract-details">
          <tr>
            <td><strong>Title</strong></td>
            <td>{{ title || 'N/A' }}</td>
          </tr>
          <tr>
            <td><strong>Number of Pages</strong></td>
            <td>{{ pagesNum || 'N/A' }}</td>
          </tr>
          <tr>
            <td><strong>Author</strong></td>
            <td>{{ author || 'N/A' }}</td>
          </tr>

          <tr *ngIf="toxicityAnalysis">
            <td><strong>Toxicity Analysis</strong></td>
            <td>{{ toxicityAnalysis ? 'The content flagged some potential concerns!' : 'Your content is in the clear! No
              toxicity detected.' }}</td>
          </tr>

          <tr *ngIf="isCompliant">
            <td><strong>Compliance</strong></td>
            <td>{{ isCompliant ? 'No compliance issues found! Your content is meeting the necessary standards.' :
              'We\'ve identified a potential compliance concern in your content' }}</td>
          </tr>

          <!-- Display Rule Based Legal Compliance if it exists -->
          <tr *ngIf="ruleBasedLegalCompliance && ruleBasedLegalCompliance.length > 0">
            <td><strong>Rule Based Legal Compliance:</strong></td>
            <td>
              <ul>
                <li *ngFor="let rule of ruleBasedLegalCompliance">
                  <strong>Following the Rule:</strong> {{ rule.rule }}
                  <ul>
                    <li><strong>Based on the rule:</strong> {{ rule.isCompliant ? 'Compliant' : 'Not Compliant' }}</li>
                    <li> {{ rule.message }}</li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
        </table>
        <div class="action-buttons">
          <button (click)="downloadContract()" [disabled]="loading">
            <i class="fas fa-download"></i> Download Info
          </button>
        </div>
      </div>
    </div>
  </main>
</section>
